@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700;1,800&display=swap");
@import "utilities";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: $font-stack;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

main {
	max-width: 1536px;
	margin: 0 auto;
}

.home {
	background: $bg-gray;
}

ul {
	list-style-type: none;
}

.global-loading {
	width: 100svw;
	height: 100svh;
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		color: $amazon-yellow;
		animation: spin 1s linear infinite;
	}

	circle {
		opacity: 0.25;
	}

	path {
		opacity: 0.75;
	}
}

.inline-btn {
	@extend %btn-secondary;
	display: inline-block;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.rc-rate-star {
	margin-right: 0 !important;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}