@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700;1,800&display=swap");
@import "utilities";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: $font-stack;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

main {
	max-width: 1536px;
	margin: 0 auto;
}

.home {
	background: $bg-gray;
}

ul {
	list-style-type: none;
}

.rc-rate-star {
	margin-right: 0 !important;
}

// Use em for font-size
// Use rem for margin and padding (spacing)

// EM
// Parent element font size - 16px
// 16px x 2 = 32px = 2em

// REM
// Root font size - 16px
// 16px x 2 = 32px = 2rem
// */

// Normal way

// article {
// 	width: 50%;
// }

// @media only screen and (max-width: 600px) {
// 	article {
// 		width: 200px;
// 	}
// }

// @media only screen and (max-width: 1200px) {
// 	article {
// 		width: 800px;
// 	}
// }

// Using clamp, min(), max()

// article {
// 	width: clamp(200px, 50%, 800px)
// }

// 1 - 0.25rem
// 2 - 0.50rem
// 3 - 0.75rem
// 4 - 1.00rem

// sm	640px	@media (min-width: 640px) { ... }
// md	768px	@media (min-width: 768px) { ... }
// lg	1024px	@media (min-width: 1024px) { ... }
// xl	1280px	@media (min-width: 1280px) { ... }
// 2xl	1536px	@media (min-width: 1536px) { ... }

// text-xs	font-size: 0.75rem;
// line-height: 1rem;
// text-sm	font-size: 0.875rem;
// line-height: 1.25rem;
// text-base	font-size: 1rem;
// line-height: 1.5rem;
// text-lg	font-size: 1.125rem;
// line-height: 1.75rem;
// text-xl	font-size: 1.25rem;
// line-height: 1.75rem;
// text-2xl	font-size: 1.5rem;
// line-height: 2rem;
// text-3xl	font-size: 1.875rem;
// line-height: 2.25rem;
