@import "utilities";

.stars {
	display: flex;
}

.star {
	height: 1.25rem;
}

.productCard {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 1.25rem;
	background: hsl(0, 0%, 100%);
	z-index: 30;
	padding: 2.5rem;

	.category {
		@extend %text-xs;
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		font-style: italic;
		color: $text-gray;
	}

	.name {
		margin: 0.75rem 0;
	}

	.description {
		@extend %text-xs;
		margin: 0.5rem 0;
	}

	.price {
		margin-bottom: 1.25rem;
		font-weight: 600;
	}

	.prime {
		display: flex;
		align-items: center;
		margin-top: -1.25rem;

		img {
			width: 3rem;
		}

		p {
			@extend %text-xs;
			color: $text-dark-gray;
			font-weight: 600;
		}

		& > :nth-child(n) {
			margin-left: 0.5rem;
		}

		& > :nth-child(1) {
			margin-left: 0;
		}
	}

	.button {
		@extend %btn;
		margin-top: auto;
	}
}

#amazonChoice {
	margin-right: 2px;
	width: 110px;
	margin-bottom: 0.5rem;
}
